{% extends 'base.html' %}

{% block title %}Despesas{% endblock title %}

{% block content %}

<form class="navbar-form navbar-right" action="." method="get">
    <!-- imprimir -->
    <a href="{% url 'core:print_expenses' %}" target="_blank">
        <button id="id_print" type="button" class="btn btn-primary">
            <i class="fa fa-print"></i> Imprimir
        </button>
    </a>
</form>

<div class="page-header">
<h2><i class="fa fa-list"></i> Despesas</h2>
</div>

<div>
{% if object_list %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Cliente</th>
        <th>Valor</th>
        <th>Comprovante</th>
      </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
      <tr>
        <td>{{ object.person }}</td>
        <td>R$ {{ object.value }}</td>
        <td>
          {% if object.image %}
            <img src="{{ object.image.url }}" alt="object.image.name" width="100px">
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <p class="alert alert-warning">Sem itens na lista.</p>
{% endif %}
</div>

<hr>
<div>
<h4><b>Total:</b> {{ page_obj.paginator.count }} contato{{ page_obj.paginator.count|pluralize }}</h4>
</div>

{% include "pagination.html" %}

{% endblock content %}
